body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}
.intro{
    color: beige;
    justify-content: center;
    text-align: center;
}
.full-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}

.button-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background-color 0.5s;
}

.nav-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid #828282;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.content-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 80%;
  max-width: 600px;
  background-color: rgba(221, 178, 114, 0.486);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  display: none;
  z-index: 3;
  color:  rgb(241, 200, 143);;
  animation: fadeInScale 0.4s ease-out forwards;
  color: #fff;
  text-shadow: 0 0 5px #f1c88f, 0 0 10px #f1c88f, 0 0 15px #f1c88f;
}

.content-section h2 {
  margin-top: 0;
}

a {
  color: #f1c88f;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


